POSTGRES_USER=yt_user
POSTGRES_PASSWORD=yt_password
POSTGRES_DB=youtube_analytics
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

AIRFLOW_UID=50000
AIRFLOW_PROJ_DIR=./orchestration/airflow

LOG_LEVEL=INFO

